doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title MELI Trends
    link(rel='stylesheet', type='text/css', href='/stylesheets/trends/style.css', media='screen')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js')
  body
    script(src='/javascripts/trends/script.js')
